* {
  text-align: center;
}

body {
  font-family: "Roboto Mono", monospace;
  min-height: 400px;
  background-image: url("https://www.alura.com.br/assets/img/imersoes/dev-2021/tabela-classificacao-bg.png");
  background-color: #111;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.titulo__pagina {
  color: white;
}

.tabela__classificacao {
  border: 2px solid white;
  border-collapse: collapse;
  width: 100%;
}


th,
tr,
td {
  border: solid 1px white;
  color: white;
}

.novo__usuario {
  color: #ffffff;
  display: flex;
  gap: 0.3em;
  margin: 2em 0 2em 1em;
}

.limpar__dados {
  position: absolute;
  left: 90%;
}

.alerta {
  color: #ffffff;
  margin: 2em;
}