.calculadora {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 2em 0;
}

.notas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1em;
    width: 30vw;
}

.notas__bim {
    padding: 0.5em;
    margin: 0.3em
}

.calculadora__imagem {
    height: 40vh;
}